.parentlist{
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    margin-right: 50px;
    font-family:sans-serif;
    align-content: flex-start;
}
li:hover{
    background-color: grey;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}
.list{
    font-size: 1.7rem;
    font-weight: 700;
}